<a href="https://colab.research.google.com/github/merinrose4007/DSA-class-activity-3/blob/main/Basics_Pandas_Sql_Merin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Exploring Python Notebook***
Here we are exploring some basics operations using google colab

In [ ]:
print('Hello World') #printing the phrase 'Hello World'

Hello World

#topic2

##subtopic2

In [ ]:
age=23+1j

In [ ]:
print(age)

(23+1j)

In [ ]:
type(age)

complex

In [ ]:
name='Das'

In [ ]:
type(name)

str

In [ ]:
days=['th', 'mon', 'tue']

In [ ]:
type(days)

list

In [ ]:
days[0]

'th'

In [ ]:
list(range(8,-1,-2))

[8, 6, 4, 2, 0]

In [ ]:
details={'batch':7, 'course':'DSA'}

In [ ]:
details['batch']

7

In [ ]:
details.values()

dict_values([7, 'DSA'])

In [ ]:
details.keys()

dict_keys(['batch', 'course'])

In [ ]:
details['location']='TVM'

In [ ]:
print(details)

{'batch': 7, 'course': 'DSA', 'location': 'TVM'}

In [ ]:
set={'merin','Maria','Jiji'}

In [ ]:
type(set)

set

In [ ]:
10>30

False

In [ ]:
9//2

4

In [ ]:
year_of_birth=1998
year_now=2025
age=year_now-year_of_birth
print(age)

27

In [ ]:
bio_data={'age':23,\
          'name':'Merin','location':'Kozhikode'}

In [ ]:
print(bio_data)

{'age': 23, 'name': 'Merin', 'location': 'Kozhikode'}

In [ ]:
to_do_list=['To Make ppt for my project','to study for viva','to wash cloths']

In [ ]:
print(to_do_list[-2])

to study for viva

In [ ]:
print(to_do_list)

['To Make ppt for my project', 'to study for viva', 'to wash cloths']

In [ ]:
list(range(99,0,-2))

[99,
 97,
 95,
 93,
 91,
 89,
 87,
 85,
 83,
 81,
 79,
 77,
 75,
 73,
 71,
 69,
 67,
 65,
 63,
 61,
 59,
 57,
 55,
 53,
 51,
 49,
 47,
 45,
 43,
 41,
 39,
 37,
 35,
 33,
 31,
 29,
 27,
 25,
 23,
 21,
 19,
 17,
 15,
 13,
 11,
 9,
 7,
 5,
 3,
 1]

In [ ]:
m='Merin'
print(len(m))

5

In [ ]:
x=input("Enter:")
print(x)
type(x)

Enter:2
2

str

In [ ]:
num1=input("Enter a number")
num2=input("Enter a number")
sum=int(num1)+int(num2)
mul=int(num1)*int(num2)
sub=int(num1)-int(num2)
div=int(num1)/int(num2)
print(sum,mul,div,sub)

Enter a number3
Enter a number5
8 15 0.6 -2

In [ ]:
x=int(input("Enter your age:"))
print('My age is',x)
print(f"You are {x} years old")

Enter your age:5
My age is 5
You are 5 years old

In [ ]:
year=int(input("Enter your year of birth"))
age=2025-year
print(f"i am {age} years old and i was born on {year}")

Enter your year of birth2020
i am 5 years old and i was born on 2020

In [ ]:
num=9
den=2
result=num//den
c=num**den

print(c)
print(result)

81
4

In [ ]:
print(True and True)

True

In [ ]:
print(True or False)

True

In [ ]:
print(not False)

True

In [ ]:
print(False and True)

False

In [ ]:
print(1 in[1,2,3])
print(1 not in [2,3,4])
print('m' in 'MalayalaM')

True
True
False

In [ ]:
"hello"*2

'hellohello'

In [ ]:
"mer"+"in"

'merin'

In [ ]:
msg=input("Enter the msg:")
num=int(input("Enter the number of time:"))

Enter the msg:Merin
Enter the number of time:30

In [ ]:
print("hello all good evening\n "*5)

hello all good evening
 hello all good evening
 hello all good evening
 hello all good evening
 hello all good evening

In [ ]:
'ICT academy of kerala'[4:11]

'academy'

In [ ]:
a=input("Enter the name:")
a==a[::-1]

Enter the name:Merin

False

In [ ]:
ar=input('Enter the 4-digit OTP number:').split(" ")
p=ar[0]
q=ar[1]
r=ar[2]
s=ar[3]
dic={'zero':'0',
'one':'1',
'two':'2',
'three':'3',
'four':'4',
'five':'5',
'six':'6',
'7':'seven',
'8':'eight',
'9':'nine'}
print(dic[p],dic[q],dic[r],dic[s])

Enter the 4-digit OTP number:three one four two
3 1 4 2

In [ ]:
digit=['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
year=int(input("Enter your birth year:"))
age=2025-year
if age>=18:
  print("Eligible to vote")
else:
  print("Not Eligible to vote")

Enter your birth year:2001
Eligible to vote

In [ ]:
age=int(input("Enter the age:"))
if age<=12:
  print("Child")
  if age<10:
    print("Teenage")
elif 20<=age<=59:
  print("Adult")
else:
  print("Senior Citizen")

Enter the age:23
Adult

In [ ]:
x=input("Enter the name")
y=len(x)
if y>10:
  print("Name is lengthy")
else:
  print("Name is not lengthy")

Enter the nameMerin
Name is not lengthy

In [ ]:
x=input("Enter the railway time:")
z=x.split(":")
y=int(z[0])
if y<=12:
  print(x,"AM")
elif y>12:
  print(y-12,":",z[1],"PM")

Enter the railway time:23:00
11 : 00 PM

In [ ]:
x=input("Enter the word")
y=x[::-1]
if x==y:
  print("patlindrome")
else:
  print("not palindrome")

Enter the wordmalayalam
patlindrome

In [ ]:
y=["red", "blue", "green", "Red", "Green","Blue", "RED", "BLUE", 'GREEN']
clr=input("Enter your fav color:")
if clr in y:
  print("Fav clr is a primary clr")
else:
  print("Not in primary clrs")

Enter your fav color:Yellow
Not in primary clrs

In [ ]:
MFD=input("Enter the MFD").split("/")
todays_date=input("Enter the date").split("/")
da=int(todays_date[0])
du=int(todays_date[1])
de=int(todays_date[2])
x=int(MFD[0])
y=int(MFD[1])
z=int(MFD[2])
if y<=6:
  print(x,"/",y+6,"/",z)
else:
  y=y+6
  y=y-12
  print(x,"/",y,"/",z+1)
if da==x+1 & du<=y & de<=z:
  print("Expired")
else:
  print("Not")

Enter the MFD20/1/2025
Enter the date13/5/2025
20 / 7 / 2025
Not

In [ ]:
x=int(input("Enter the number"))
y=int(input("Enter the number"))
z=int(input("Enter the number"))
if x>=y:
  if x>=z:
    a=x
  elif z>=y:
    a=z
  print(a,"is the greatest")
else:
  if y>=z:
    b=y
  elif y<=z:
    b=z
  print(b,"is the greatest")

Enter the number13
Enter the number20
Enter the number25
25 is the greatest

In [ ]:
l=["monday", "tuesday", "wednesday", "thursday", "friday"]
f=["saturday", "sunday"]
day=input("enter the day:")
if day in l:
  print("Is not a holiday")
else:
  print(day,"is a holiday")

enter the day:monday
Is not a holiday

In [ ]:
a=2
b=3.14159
print("a contain {}". format(a,))
print("a contain {} b contain{}". format(a,b))
print("b contain {1} contain {0}". format(a,b))
print(f"a contain {a} b contain {b}")
print(f"b contain {b:.3f}")

a contain 2
a contain 2 b contain3.14159
b contain 3.14159 contain 2
a contain 2 b contain 3.14159
b contain 3.142

In [ ]:
name, age, location="Guest", 23, "Kozhikode"
print(name)
print(age)
print(location)

Guest
23
Kozhikode

In [ ]:
q=5
b=str(q)
print(b, type(b))

5 <class 'str'>

In [ ]:
a="1"
b=int(a)
print(type(b))

<class 'int'>

In [ ]:
l=["merin","maria","jiji","smitha"]
k=tuple(l)
print(k)

('merin', 'maria', 'jiji', 'smitha')

In [ ]:
l=("merin","maria","jiji","smitha")
k=list(l)
print(k)

['merin', 'maria', 'jiji', 'smitha']

In [ ]:
list("abc")

['a', 'b', 'c']

In [ ]:
bool(0)

False

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
domain=["data", "science"]
"_".join(domain)

'data_science'

In [ ]:
x=[1,2,3]
x.append(4)
print(x)
x.extend([5,6])
print(x)
x.remove(2)
print(x)
x.insert(0,10)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[10, 1, 3, 4, 5, 6]

In [ ]:
y=input("Enter the date").split("/")
print("-".join(y))
print(y[1],"-",y[0],"-",y[2])
print(y[2],"|",y[0],"-",y[1])

Enter the date20/11/2025
20-11-2025
11 - 20 - 2025
2025 | 20 - 11

for loop

In [ ]:




l={'tomato':10, 'carrot':40, 'banana':30, 'curd':20, 'milk':25, 'rice':50, 'wheat':15}
my_budget=150
my_list=[]
tot_price=0
for a,b in l.items():
  if b<my_budget and tot_price+b<=my_budget:
    my_list.append(a)
    tot_price=tot_price+b
print(my_list)

['tomato', 'carrot', 'banana', 'curd', 'milk', 'wheat']

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print(i)

15
30
45
60
75
90

while

In [ ]:
A=1
while A<10:
  print(A)
  A=A+2
else:
  print("the limit has crossed")

1
3
5
7
9
the limit has crossed

In [ ]:
import random
a=int(input("Enter a number"))
b=random.randint(1, 100)
while a!=b:
  if a<b:
    print("Guess greater")
    a=int(input("Enter a number"))
  elif a>b:
    print("Guess lesser")
    a=int(input("Enter a number"))
else:
  print("your ans is correct")

Enter a number12
Guess greater
Enter a number30
Guess greater
Enter a number40
Guess greater
Enter a number50
Guess greater
Enter a number60
Guess greater
Enter a number70
Guess greater
Enter a number80
Guess greater
Enter a number90
Guess lesser
Enter a number88
Guess greater
Enter a number89
your ans is correct

In [ ]:
a=input("Enter the password:")
b="3142"
i=1
while a!=b:
    print("wrong password")
    print(3-i,"attempts are left")
    a=input("Enter the password:")
    i=i+1
    if i==3:
      print("Retry after 2hr")
      break
else:
  print("your ans is correct")

Enter the password:2567
wrong password
2 attempts are left
Enter the password:3142
your ans is correct

In [ ]:
dic={'movie A':3, 'movie B':8, 'movie C': 7, 'movie D': 6, 'movie E':9}
i=0

In [ ]:
for a,b in dic.items():
  print(a,b)
  if dic[a]==5:
    dic[a]=9
  elif dic[a]==8:
    dic[a]=5

print(dic)

movie A 3
movie B 8
movie C 7
movie D 6
movie E 9
{'movie A': 3, 'movie B': 5, 'movie C': 7, 'movie D': 6, 'movie E': 9}

In [ ]:
dic.update({'movie F': 5, 'movie G': 1})

In [ ]:
print(dic)

{'movie A': 3, 'movie B': 5, 'movie C': 7, 'movie D': 6, 'movie E': 9, 'movie F': 5, 'movie G': 1}

In [ ]:
g=dic['movie A']
for a,b in dic.items():
  if g<dic[a]:
    g=dic[a]
    h=a
print(h)

movie E

In [ ]:
def greet(name, age):
  print("My namr is",name, "i am",age)
greet('Merin',23)
greet('Maria',19)

My namr is Merin i am 23
My namr is Maria i am 19

In [ ]:
def greet(name, age=19):#default value for age
  print("My namr is",name, "i am",age)
greet('Merin',23)
greet('Maria')

My namr is Merin i am 23
My namr is Maria i am 19

In [ ]:
def multiply(a,b):
  print(a,"*",b,"=",a*b)
num1=int(input("enter the value:"))
num2=int(input("enter the value:"))
multiply(num1,num2)

enter the value:3
enter the value:4
3 * 4 = 12

In [ ]:
def bill(total):
  if total<500:
    a=total*10/100
  elif 1000>total>=500:
    a=total*15/100
  elif total>=1000:
    a=total*20/100
  print("the total amount is",total+a)
t=int(input("Enter the amount:"))
bill(t)

Enter the amount:35
the total amount is 38.5

In [ ]:
from re import I
num_list=[12,4,5,7,8,13,10,21]

def average_even(numberlist):
  i=0
  s=0
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num%2==0:
      even_list.append(num)
      s=s+num
      i=i+1
    else:
       odd_list.append(num)
       r=r+num
       j=j+1
  print(even_list)
  print(odd_list)
  print(s/i)
  print(r/j)
average_even(num_list)

UnboundLocalError: cannot access local variable 'r' where it is not associated with a value

In [ ]:
def sum_numbers(*args):#* arbitary arguments
  print(type(args))
  total=0
  for i in args:
    total=total+i
  print(total)
sum_numbers(2,3,4)

<class 'tuple'>
9

In [ ]:
def numbers(**arg):#** keyword Arguement
  for a,b in arg.items():
    print(a,"is",b)
numbers(name="Merin", place="kozhikode")

name is Merin
place is kozhikode

In [ ]:
def squareofnum(x):
  y=x*x
  print(y)
squareofnum(3)

9

In [ ]:
square=lambda x:x*x
square(5)

25

In [ ]:
add = lambda x,y : x+y
add(3,5)

8

In [ ]:
def  Totalmark(marks):
  return sum(marks)
finalscore = Totalmark([10,20,30,40,50])
if finalscore>50:
  print("pass")

TypeError: 'int' object is not callable

Object Oriented Programming(OOP)



1.   class - blueprint, attributes- variables in class(feature of class), methods- function used inside class.
2.  encapsulation- functions inside class cannot be called
3. object/instance-





inheritance
polymorphism

abstraction

In [ ]:
class Animal:
  animal_type="dog"
  num_legs=4
  mammal="Yes"
  def sound(self):#self- is pointer to identify the instance
    print("bark")
obj1=Animal()#instance
print(obj1.animal_type)
obj1.sound()

dog
bark

In [ ]:
class person:
  place="tvm"

  def __init__(self,name,age):#constructor
    self.name=name
    self.age=age
  def greet(self):
    return f"Hi, myself {self.name} and my age is {self.age} i am from {self.place}"
obj1=person('Merin',23)
print(obj1.greet())
obj2=person('Maria',19)
print(obj2.greet())

Hi, myself Merin and my age is 23 i am from tvm
Hi, myself Maria and my age is 19 i am from tvm

In [ ]:
class Employee:
  def __init__(self, name, emp_id,salary):
    self.name=name
    self.emp_id=emp_id
    self.salary=salary
  def display_info(self):
    print(f"Name: {self.name}")
    print(f"Employee ID: {self.emp_id}")
    print(f"Salary:{self.salary}")
class Manager(Employee):
  def __init__(self, name, emp_id,salary, dept, teamSize, ):
    super().__init__(name, emp_id,salary)
    self.dept=dept
    self.teamSize=teamSize
  def display_manager_info(self):
    self.display_info()
    print(f"Department: {self.dept}")
    print(f"TeamSize: {self.teamSize}")
class Teamleader(Manager):
  def __init__(self, name, emp_id,salary, dept, teamSize, experience):
    super().__init__(name, emp_id,salary, dept, teamSize)
    self.experience=experience
  def display_leader_info(self):
    self.display_manager_info()
    print(f"Experience: {self.experience}")

obj1=Employee('Merin',1234,1000000)
obj1.display_info()

man1=Manager('Merin', 1234, 1000000, 'Mathematics', 5)
man1.display_manager_info()

te1=Teamleader('Merin', 1234, 1000000, 'Mathematics', 5, 4)
te1.display_leader_info()

Name: Merin
Employee ID: 1234
Salary:1000000
Name: Merin
Employee ID: 1234
Salary:1000000
Department: Mathematics
TeamSize: 5
Name: Merin
Employee ID: 1234
Salary:1000000
Department: Mathematics
TeamSize: 5
Experience: 4

In [ ]:
l=[5,8,2,7,3,8,10,10]
l.sort()
print(l)

[2, 3, 5, 7, 8, 8, 10, 10]

In [ ]:
a=0
for i in range (len(l)):
  a=a+l[i]
mean=a/len(l)
print(mean)

6.625

In [ ]:
if len(l)%2==0:
  med=(l[(len(l)//2)-1]+l[(len(l)//2)])/2
else:
  med=l[len(l)//2]
print(med)

7.5

In [ ]:
mod=3*med-2*mean
print(mod)

9.25

In [ ]:
l=[78, 85, 95, 50, 88, 45, 82, 91, 75, 60]
l.sort()
print(l)

[45, 50, 60, 75, 78, 82, 85, 88, 91, 95]

In [ ]:
a=0
for i in range (len(l)):
  a=a+l[i]
mean=a/len(l)
print(mean)

74.9

In [ ]:
if len(l)%2==0:
  med=(l[(len(l)//2)-1]+l[(len(l)//2)])/2
else:
  med=l[len(l)//2]
print(med)

80.0

In [ ]:
w=0
for i in range(len(l)):
  v=(l[i]-mean)**2
  w=w+v
var=w/len(l)
print(var)

273.29

In [ ]:

std=e**(1/2)
print(std)

NameError: name 'e' is not defined

In [ ]:
l=[85, 60, 72, 55, 105, 315, 380, 290, 190, 130, 95, 70]
l.sort()
print(l)

In [ ]:
Q1=l[(len(list1)*25//100)-1]
print(Q1)

In [ ]:
Q2=l[(len(list1)*50//100)-1]
print(Q2)

In [ ]:
Q3=l[(len(list1)*75//100)-1]
print(Q3)

In [ ]:
IQR=Q3-Q1
print(IQR)

In [ ]:
lower_whisker=Q1-IQR*1.5
print(lower_whisker)

In [ ]:
upper_whisker=Q3+IQR*1.5
print(upper_whisker)

In [ ]:
for i in l:
  if int(upper_whisker)<i or lower_whisker>i:
    print(i)

In [ ]:
list1=[200, 220, 210, 300, 250, 400, 240, 260, 500, 230]
list2=[50, 55, 52, 80, 60, 100, 58, 65, 120, 54]
list1.sort()
list2.sort()
a=0
for i in list1:
  a=a+i
mean1=a/len(list1)
print(mean1)

In [ ]:
a=0
for i in list2:
  a=a+i
mean2=a/len(list2)
print(mean2)

In [ ]:
if len(list1)%2==0:
  med1=(list1[(len(list1)//2)-1]+list1[(len(list1)//2)])/2
else:
  med1=list1[len(list1)//2]
print(med1)

In [ ]:
if len(list2)%2==0:
  med2=(list2[(len(list2)//2)-1]+list2[(len(list2)//2)])/2
else:
  med2=list2[len(list2)//2]
print(med2)

In [ ]:
o=0
for i in range(len(list1)):
  p=(list1[i]-mean1)**2
  o=o+p
var1=o/len(list1)
print(var1)

In [ ]:
o=0
for i in range(len(list2)):
  p=(list2[i]-mean2)**2
  o=o+p
var2=o/len(list2)
print(var2)

In [ ]:
std1=var1**(1/2)
print(std1)
std2=var2**(1/2)
print(std2)

In [ ]:
o=0
for i,j in range (len(list1), len(list2)):
  p=(list1[i]-mean1)*(list2[j]-mean2)
  o=o+p
cov=o/len(list1)
print(cov)

In [ ]:
coorelation=cov/std1*std2
print(coorelation)

In [ ]:
## Q2. Write function that returns mean value of a list of numbers
def mean(l):
  a = 0
  for i in range(len(l)):
    a = a + l[i]

  return a/len(l)

In [ ]:
##Q8. Write a function to return standard deviation of a list of numbers
def standard_deviation(l):

  w = 0
  a = 0
  mean1 = mean(l)

  for i in range(len(l)):

    v = (l[i]-mean1)**2
    w = w + v
    variance = w/(len(l)-1)
    standard_dev = variance**(1/2)

  return standard_dev

In [ ]:
a1=mean([50,81,61,63,83,64,75,43])
b1=mean([48,50,39,53,60,47,60,85,52,52,63,49])

In [ ]:
a=standard_deviation([50,81,61,63,83,64,75,43])
print(a)

In [ ]:
b=standard_deviation([48,50,39,53,60,47,60,85,52,52,63,49])
print(b)

In [ ]:
Sp=((7*a**2+11*b**2)/18)**1/2
print(Sp)

In [ ]:
t=(a1-b1)/(Sp*((1/8)+(1/12)))

In [ ]:
print(t)

#Library NumPy

In [ ]:
import numpy as np
x = np.array([1,2,3])
print(x)
type(x)

In [ ]:
x.shape

In [ ]:
x.dtype #datatype of numbers inside array

In [ ]:
y = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])
print(y)

In [ ]:
y.shape

In [ ]:
y.dtype

In [ ]:
y.size # Number of elements in the array

In [ ]:
z=np.array([1.3,2.4,3.5,4.6], dtype=int)
print(z)

In [ ]:
z+3

In [ ]:
z-3

In [ ]:
z*3

In [ ]:
z/3

In [ ]:
np.zeros((3, 4))

In [ ]:
np.ones((2,3))

In [ ]:
np.eye(4) #identity matrix

In [ ]:
np.diag([1,2,3,4])

In [ ]:
np.arange(10)

In [ ]:
a=np.arange(1,20,2)

In [ ]:
len(a)

In [ ]:
a.shape

In [ ]:
a.reshape(5,2)

In [ ]:
import numpy as np
np.random.random((4,3))

In [ ]:
w=np.random.randint(3,10, size=(3,5)) # give values between 3 and 10
w

In [ ]:
w[0]

In [ ]:
w[1]

In [ ]:
w[0,0]

In [ ]:
w[-1,-1]

In [ ]:
w[0:2,  0:2]

In [ ]:
w[-2:, -2:]

In [ ]:
e=np.array([1,2,3])
f=np.array([4,5,6])
np.concatenate((e,f))

In [ ]:
import numpy as np

arr1 = np.array([[1, 2], [3, 4]])

arr2 = np.array([[5, 6], [7, 8]])

arr = np.concatenate((arr1, arr2), axis=1) #axis=1  stack horizontally

print(arr)

In [ ]:
import numpy as np

arr1 = np.array([[1, 2], [3, 4]])

arr2 = np.array([[5, 6], [7, 8]])

arr = np.concatenate((arr1, arr2), axis=0)   #axis=0  stack vertically

print(arr)

In [ ]:
#Stacking is same as concatenation, the only difference is that stacking is done along a new axis.

import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.stack((arr1, arr2), axis=1)

print(arr)

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.hstack((arr1, arr2))

print(arr)

In [ ]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

print(np.hstack((a, b)))

In [ ]:
import numpy as np

arr = np.array([0, 0, 3, 0])

print(np.any(arr))     # True (because 3 is nonzero)
print(np.any(arr == 3)) # True (3 is present)
print(np.any(arr > 5))

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.vstack((arr1, arr2))

print(arr)

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr[0])
print(newarr[1])
print(newarr[2])

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])

newarr = np.array_split(arr, 3)

print(newarr)

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])

newarr = np.array_split(arr, 3, axis=1)

print(newarr)

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5, 4, 4], [1, 2, 3, 4, 5, 4, 4]])

x = np.where(arr == 4)

print(x)

In [ ]:
import numpy as np

arr = np.array([6, 7, 8, 9])

x = np.searchsorted(arr, 7, side='left')  #It finds the index where a given value should be inserted in a sorted array to maintain the sorting order.

print(x)

In [ ]:
import numpy as np

arr = np.array([1, 3, 5, 7])

x = np.searchsorted(arr, [2, 4, 6])

print(x)

In [ ]:
import numpy as np

arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

In [ ]:
import numpy as np

arr = np.array(['banana', 'cherry', 'apple'])

print(np.sort(arr))

In [ ]:
import numpy as np

arr = np.array([True, False, True])

print(np.sort(arr))

In [ ]:
import numpy as np

arr = np.array([[3, 2, 4], [5, 0, 1]])

print(np.sort(arr))

In [ ]:
import numpy as np

arr = np.array([41, 42, 43, 44])

x = [True, False, True, False]

newarr = arr[x]

print(newarr)

#Pandas Library

In [ ]:
import pandas as pd
pd.Series([1,2,3,4,np.nan,6,7])

In [ ]:
pd.DataFrame(np.random.randint(0,100,size=(5,3)), columns=['a', 's', 'd'])

In [ ]:
data={'Calaries':[20,30,40,50],
      'duration':[10,20,30,40]}
df=pd.DataFrame(data, index=['day1','day2','day3','day4'])

In [ ]:
df['Calaries']

In [ ]:
df.loc['day1':'day3'] #row name

In [ ]:
df.iloc[0:3]   #row index

In [ ]:
df.reset_index(drop=True)

In [ ]:
url='https://docs.google.com/spreadsheets/d/1VdgNwORHh4HlimuuEgrsixRgko2Gi1YdnlUYAnkPFR8/export?format=csv&gid=0'
df=pd.read_csv(url)

In [ ]:
df=pd.read_csv('/content/data - Sheet1.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe() #numerical column statistical info

In [ ]:
df.isna() #check whether the valus is na or not

In [ ]:
df.isna().sum()

In [ ]:
df[df['Calories']<=100]

In [ ]:
df[(df['Calories']<=100) & (df['Duration']==20)]

In [ ]:
df.drop(columns=['Pulse'])

In [ ]:
df.nunique()

In [ ]:
df['Duration'].unique()

In [ ]:
df['Duration'].value_counts()

In [ ]:
df.groupby('Duration')['Calories'].mean()

In [ ]:
df['calories_per_min']=df['Calories']/df['Duration']
print(df)

In [ ]:
import seaborn as sns
data = sns.load_dataset('titanic')

In [ ]:
sns.get_dataset_names()

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.size

In [ ]:
data.info()

In [ ]:
data.columns

In [ ]:
data.nunique()

In [ ]:
data['class'].unique()

In [ ]:
data['class'].value_counts()

In [ ]:
data.describe()

In [ ]:
data.groupby('class')['survived'].mean()

In [ ]:
data.isna().sum()

NameError: name 'data' is not defined

#MySQL

In [ ]:
import sqlite3
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS students(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Age INT,
    Gender TEXT,
    Grade TEXT
)""") #create table if not exist (tablename) this table will be created only if table name doesnot exist
# Multiline comment we use 3 quotes

In [ ]:
cursor.execute("""INSERT INTO students(id, Name, Age, Gender, Grade)
values(1, 'Merin', 23, 'F', 'O')""")

In [ ]:
cursor.execute("""INSERT INTO students(Name, Age, Gender, Grade)
values('Maria', 19, 'F', 'O'),('Jiji', 51, 'M', 'O')""")

In [ ]:
cursor.execute("""INSERT INTO students(Name, Age, Gender, Grade)
values('Smitha', 47, 'F', 'O')""")

In [ ]:
conn.commit()

In [ ]:
cursor.execute("SELECT * FROM students")

In [ ]:
print(cursor.fetchall())

[(1, 'Merin', 23, 'F', 'O'), (2, 'Maria', 19, 'F', 'O'), (3, 'Jiji', 51, 'M', 'O'), (4, 'Smitha', 47, 'F', 'O')]

In [ ]:
rows = cursor.fetchall()

In [ ]:
for row in rows:
  print("id:",row[0], "Name:" ,row[1], "Age:" ,row[2], "Grade:" ,row[3] )

In [ ]:
cursor.execute("SELECT * FROM students WHERE Grade = 'O'")

In [ ]:
print(cursor.fetchall())

[(1, 'Merin', 23, 'F', 'O'), (2, 'Maria', 19, 'F', 'O'), (3, 'Jiji', 51, 'M', 'O'), (4, 'Smitha', 47, 'F', 'O')]

In [ ]:
cursor.execute("SELECT id, Name FROM students WHERE Grade = 'O'")

In [ ]:
print(cursor.fetchall())

[(1, 'Merin'), (2, 'Maria'), (3, 'Jiji'), (4, 'Smitha')]

In [ ]:
cursor.execute("SELECT * FROM students ORDER BY id DESC")

In [ ]:
print(cursor.fetchall())

[(4, 'Smitha', 47, 'F', 'O'), (3, 'Jiji', 51, 'M', 'O'), (2, 'Maria', 19, 'F', 'O'), (1, 'Merin', 23, 'F', 'O')]

In [ ]:
cursor.execute("SELECT COUNT(*) FROM students WHERE Age=51")
print(cursor.fetchone()) #since we are fetching only one value that is the count

(1,)

In [ ]:
cursor.execute("SELECT AVG(Age) FROM students")
print(cursor.fetchone())

(35.0,)

In [ ]:
cursor.execute("SELECT * FROM students ORDER BY Age DESC LIMIT 3")
print(cursor.fetchall())

[(3, 'Jiji', 51, 'M', 'O'), (4, 'Smitha', 47, 'F', 'O'), (1, 'Merin', 23, 'F', 'O')]

In [ ]:
cursor.execute("SELECT COUNT(*) FROM students GROUP BY Age")
print(cursor.fetchall())

[(1,), (1,), (1,), (1,)]

In [ ]:
cursor.execute("ALTER TABLE students ADD COLUMN Mark INT")

In [ ]:
cursor.execute("SELECT * FROM students")

In [ ]:
cursor.execute("UPDATE students SET Mark=50 WHERE id=1")

In [ ]:
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

[(1, 'Merin', 23, 'F', 'O', 50), (2, 'Maria', 19, 'F', 'O', None), (3, 'Jiji', 51, 'M', 'O', None), (4, 'Smitha', 47, 'F', 'O', None)]

In [ ]:
cursor.execute("DELETE FROM students WHERE id=1")

In [ ]:
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

[(2, 'Maria', 19, 'F', 'O', None), (3, 'Jiji', 51, 'M', 'O', None), (4, 'Smitha', 47, 'F', 'O', None)]

In [ ]:
conn.commit()

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS Library(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Autors_Name TEXT,
    Price INT
)"""
)

In [ ]:
cursor.execute("""INSERT INTO Library
values(1, 'Merin Autobiobraphy', 'Merin', 1000),(2, 'Maria Autobiobraphy', 'Merin', 100), (3, 'Thasli Autobiobraphy', 'Merin', 5000)""")

In [ ]:
conn.commit()

In [ ]:
cursor.execute("SELECT * FROM Library")

In [ ]:
rows = cursor.fetchall()

In [ ]:
for row in rows:
  print("id:",row[0], "Name:" ,row[1], "Author" ,row[2], "Price" ,row[3] )

id: 1 Name: Merin Autobiobraphy Author Merin Price 1000
id: 2 Name: Maria Autobiobraphy Author Merin Price 100
id: 3 Name: Thasli Autobiobraphy Author Merin Price 5000

In [ ]:
cursor.execute("SELECT COUNT(*) FROM Library")
print(cursor.fetchone())

(3,)

In [ ]:
cursor.execute("ALTER TABLE Library ADD COLUMN Year INT")

In [ ]:
cursor.execute("SELECT * FROM Library")

In [ ]:
cursor.execute("UPDATE Library SET Year=2025 WHERE id=1")

In [ ]:
cursor.execute("UPDATE Library SET Year=2030 WHERE id=2")

In [ ]:
cursor.execute("UPDATE Library SET Year=2026 WHERE id=3")

In [ ]:
cursor.execute("SELECT * FROM Library")
print(cursor.fetchall())

[(1, 'Merin Autobiobraphy', 'Merin', 1000, 2025), (2, 'Maria Autobiobraphy', 'Merin', 100, 2030), (3, 'Thasli Autobiobraphy', 'Merin', 5000, 2026)]

In [ ]:
cursor.execute("SELECT * FROM Library ORDER BY Year DESC")
print(cursor.fetchall())

[(2, 'Maria Autobiobraphy', 'Merin', 100, 2030), (3, 'Thasli Autobiobraphy', 'Merin', 5000, 2026), (1, 'Merin Autobiobraphy', 'Merin', 1000, 2025)]

In [ ]:
cursor.execute("SELECT * FROM Library ORDER BY Price DESC")
print(cursor.fetchall())

[(3, 'Thasli Autobiobraphy', 'Merin', 5000, 2026), (1, 'Merin Autobiobraphy', 'Merin', 1000, 2025), (2, 'Maria Autobiobraphy', 'Merin', 100, 2030)]

In [ ]:
cursor.execute("""INSERT INTO Library
values(4, 'Cutiyo Autobiobraphy', 'Merin', 500, 2026)""")

In [ ]:
cursor.execute("SELECT * FROM Library")
print(cursor.fetchall())

[(1, 'Merin Autobiobraphy', 'Merin', 1000, 2025), (2, 'Maria Autobiobraphy', 'Merin', 100, 2030), (3, 'Thasli Autobiobraphy', 'Merin', 5000, 2026), (4, 'Cutiyo Autobiobraphy', 'Merin', 500, 2026)]